# output
output/

# python
**/__pycache__

# venv
venv/
bin/
lib/
pyvenv.cfg

# IDE
.idea/
.vscode/

# java
**/*.class

# output files
**Augmented.java

# examples
examples/

# daikon
daikon-5.8.2/
daikon-5.8.2.zip

# GAssert
GAssert/

TODO.md

# experiments
experiments/results/

# Coverage
.coverage
htmlcov/